* {
  margin: 0px;
  padding: 0px;
  color: black;
}
.addressDetail {
  display: flex;
  align-items: center;
  justify-content: start;
}
.addressDetail-2 {
  margin-left: 20px;
}
.responsive {
  padding-left: 16px;
  padding-right: 16px;
  height: 5vh;
  background-color: #ff7400;
  color: white;
}

@media (min-width: 600px) {
  .responsive {
    padding-left: 24px;
    padding-right: 24px;
  }
}
